

h1 {
    margin-left: 400px;
    font:2em Apple Chancery, cursive,bold;
    margin-top: 0px;
    border: 4px solid green;
    margin-right: 364px;
    text-align: center

}
.carte {
    float: right;
    margin-right: 150px;
    margin-top: 20px
}

img {
    width: 300px
}


.para1 {
    font: 1em Apple Chancery, cursive;
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 50px;
}


li{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}


#navigation li a {
  display: inline-block ;
  background: green ;
  color: #fff ;
  font: 2em Apple Chancery,sans-serif ;
  line-height: 2em ;
  text-align: center ;
  text-decoration: none ;
  padding: 4px 0 ;
  height: 60px;
  width: 500px;
  margin-left: 100px;
  border: 4px solid black;
  list-style-type: none;

}
#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
  background: #006400 ;
  text-decoration: underline ;
}



.blok1{
    margin-top: 50px;
}




body {
    background-color: #F5F5F5
}

.fanion {
    margin-left : 50px;
    float: right;
    width: 100px
}

.symbole {
    float: left;
    margin-top: 0px;
    width: 150px
}